body {
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 11, 121, 0.9921218487394958) 41%, rgba(0, 212, 255, 1) 97%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'DynaPuff', cursive;
}

.header {
  margin: 2rem 1rem;
  font-size: 4rem;
  background-image: url(../images/title1.jfif);
  background-size: contain;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  margin: 3rem 0;
}

.flex {
  display: flex;
}

.scores-section {
  margin-left: 10%;
  width: 60%;
  background-color: #fff;
  box-shadow: 10px 10px 10px 10px;
  padding: 0.5rem;
}

.scores-header {
  justify-content: space-between;
}

.scores-title,
.add-title {
  font-size: 2rem;
}

.list-div {
  outline: #000 3px solid;
  width: 100%;
  margin: 2rem 0;
}

.scores-list {
  list-style: none;
  padding: 0;
  line-height: 2rem;
  width: 100%;
}

li:nth-child(odd) {
  background-color: rgb(154, 229, 240);
}

.gamer-name {
  padding-left: 1rem;
  gap: 2rem;
  justify-content: space-around;
}

.add-form {
  flex-direction: column;
}

footer {
  background-color: rgb(105, 212, 228);
  padding: 2rem;
  width: 100%;
  margin-top: auto;
}

input {
  width: 100%;
  margin: 2rem 0 0;
  border: #000 3px solid;
  height: 2rem;
}

.add-button {
  margin-right: 0;
  justify-content: end;
}

#add-button {
  width: 4rem;
  margin: 2rem 0;
  padding: 0.5rem;
  background-color: #fff;
  font-family: 'DynaPuff', cursive;
  font-size: 0.8rem;
}

button {
  box-shadow: 2px 2px 1px 1px;
}

.form-scores {
  flex-direction: column;
  width: 60%;
  outline: #000 4px solid;
  padding: 0 3rem;
  height: 16rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #fff;
}

.refresh {
  width: 4rem;
  padding: 0.5rem;
  background-color: #fff;
  font-family: 'DynaPuff', cursive;
  font-size: 0.8rem;
}

input::placeholder {
  color: #000;
  font-weight: bold;
}

span {
  width: 1rem;
}

li p {
  width: 8rem;
}

hr {
  color: #fff;
}

@media only screen and (max-width: 1160px) {
  .form-scores {
    padding: 0 1rem;
  }

  input {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
    row-gap: 2rem;
  }

  .form-scores {
    margin-left: 20%;
  }

  .scores {
    order: 1;
  }

  .scores-section {
    margin-left: 20%;
  }

  .header {
    font-size: 3rem;
    text-align: center;
  }
}
